{% extends "admin_base.njk" %}
{% block titulo %}Libros | Lista{% endblock %}

{% block contenido %}
    <h1>Listado de peliculas</h1>
    <ul>
        {% for director in directores %}
            {% if loop.index % 2 == 0 %}
                <li class="par mb-2">
            {% else %}
                <li class="impar mb-2">
            {% endif %}
                {{ director.nom }}
            </li>                       
        {% else %}
            <h1>Error</h1>
                <div class="alert alert-danger">
                    Pelicula no encontrada
                </div>
        {% endfor %}
    </ul>
{% endblock %}