<div class="alert alert-secondary">
    <a href="/" class="btn btn-primary">Inicio</a> 
    <a href="/admin" class="btn btn-primary">Administracion</a>      
    <a href="/auth/login" class="btn btn-primary">Login</a> 
    <a href="/auth/logout" class="btn btn-primary">logout</a>              
</div>